


<div class="text-right">
  <a  href="/" class="button">Home</a>
</div>
<br />
<br />

<p>Please fill out this application completely and accurately. All information will remain confidential and will be used to help us determine if you are a good fit for a position within our crew.

  <%= simple_form_for @job do |f| %>
    <%= f.input :name, placeholder: 'Name' %>
    <%= f.input :phone_number, placeholder: 'Phone number' %>
    <%= f.input :address, placeholder: 'City and State' %>
    <%= f.input :email, placeholder: 'Email Address' %>
    <%= f.input :birthday, placeholder: 'Date of birth' %>
    <%= f.input :license %>
    <%= f.input :license_type, as: :radio_buttons, collection: [['1','A'], ['2', 'B'], ['3', 'C'], ['4', 'D'], ['5', 'D with F endorsement']] %>
    <%= f.input :dot, as: :radio_buttons, boolean_style: :inline %>
    <%= f.input :violations, as: :radio_buttons, boolean_style: :inline %>
    <%= f.text_field :explain_violations %>
    <br />
    <p>Next we will need to know about your driving experience. Please list the employers you drove for, types of vehicles, and dates of employment</p>

    <%= f.input :employer1 %>
    <%= f.input :vehicle1 %>
    <%= f.input :start_job1 %>
    <%= f.input :end_job1 %>
    
    <%= f.input :employer2 %>
    <%= f.input :vehicle2 %>
    <%= f.input :start_job2 %>
    <%= f.input :end_job2 %>

    <%= f.input :employer3 %>
    <%= f.input :vehicle3 %>
    <%= f.input :start_job3 %>
    <%= f.input :end_job3 %>
    
    <%= f.input :employer4 %>
    <%= f.input :vehicle4 %>
    <%= f.input :start_job4 %>
    <%= f.input :end_job4 %>

    <%= f.input :military_service %>
    <%= f.input :branch %>

  <div class="row">
    <%= f.input :service_start %>
    <%= f.input :service_end %>
  </div>

    <p>Please select all vehicle sizes that you have driven. Please do not select a vehicle larger than what you are comfortable driving.</p>
   
    <br />
    <%= f.text_field :conflicts %>
    <br />
    <br />
    <%= f.submit "Submit Application", class: 'btn btn-primary' %>
  <% end %>
